production:
  application: "appname"
  repo_url: "git@bitbucket.org:lextrend/appname.git"
  deploy_to: "/home/web/apps/appname"
  ssh_port: 22
  server: "XXX.XXX.XXX.XXX"
  server_name: "appname.com"
  db_server: "localhost"
  user: "web"
  db_user: "dbuser"
  db_password: "dbpassword"
